* {
  box-sizing: border-box;
}
:root {
  font-family: "Verdana", monospace;
  font-size: 12px;
  background: #333 url("../assets/simple-bg.png");
  color: #333;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
a {
  color: #c33;
  text-decoration: none;
}
a:hover {
  color: #f33;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid #333;
}
#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #fff;
}
#app > header,
#app > footer {
  flex: 0 0 auto;
  padding: 1em;
  background: #c33;
  color: #fff;
  text-align: center;
}
#app > header a,
#app > footer a {
  color: #fff;
}
#app > header h1,
#app > footer h1 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}
#app > header h1.winner,
#app > footer h1.winner {
  animation-name: winning-glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  text-shadow: 0 0 12px #fff;
}
#app > main {
  flex: 1 1 auto;
  padding: 0;
  background: #fff;
}
#puzzle {
  background: #666;
  background: linear-gradient(to bottom right, #ccc, #666);
  margin: auto;
  position: relative;
  overflow: hidden;
  touch-action: none;
}
#puzzle #grid {
  border: 1px solid #fff;
  position: absolute;
}
#puzzle #hint {
  position: absolute;
  opacity: 0;
}
#puzzle #hint.show-hint {
  animation-name: fade-to-nothing;
  animation-duration: 15s;
}
#puzzle .piece {
  background: rgba(255,255,255,0.9) no-repeat 0px 0px;
  position: absolute;
  border: 1px solid #fff;
  cursor: all-scroll;
  touch-action: none;
}
#puzzle .piece:hover {
  border: 1px solid #c33;
  box-shadow: 4px 4px 8px #333;
}
#puzzle .piece.active {
  border: 1px solid #c33;
  box-shadow: 6px 6px 16px #c33;
}
#puzzle .piece.correct {
  border: 1px solid #333;
  box-shadow: none;
}
button {
  border: 1px solid #333;
  background: #c33;
  color: #fff;
  border-radius: 2em;
  display: block;
  margin: 0.5em auto;
  cursor: pointer;
}
@-moz-keyframes winning-glow {
  0% {
    color: #fff;
  }
  50% {
    color: #c33;
  }
  100% {
    color: #fff;
  }
}
@-webkit-keyframes winning-glow {
  0% {
    color: #fff;
  }
  50% {
    color: #c33;
  }
  100% {
    color: #fff;
  }
}
@-o-keyframes winning-glow {
  0% {
    color: #fff;
  }
  50% {
    color: #c33;
  }
  100% {
    color: #fff;
  }
}
@keyframes winning-glow {
  0% {
    color: #fff;
  }
  50% {
    color: #c33;
  }
  100% {
    color: #fff;
  }
}
@-moz-keyframes fade-to-nothing {
  0% {
    opacity: 1;
    filter: grayscale(0%);
  }
  100% {
    opacity: 0;
    filter: grayscale(100%);
  }
}
@-webkit-keyframes fade-to-nothing {
  0% {
    opacity: 1;
    filter: grayscale(0%);
  }
  100% {
    opacity: 0;
    filter: grayscale(100%);
  }
}
@-o-keyframes fade-to-nothing {
  0% {
    opacity: 1;
    filter: grayscale(0%);
  }
  100% {
    opacity: 0;
    filter: grayscale(100%);
  }
}
@keyframes fade-to-nothing {
  0% {
    opacity: 1;
    filter: grayscale(0%);
  }
  100% {
    opacity: 0;
    filter: grayscale(100%);
  }
}
